body {
  background-color: cadetblue;
  color: #ffffff;
}

table {
  width: 400px;
  border: 1px solid #333;
}

td {
  width: 200px;
  font-size: 20px;
  padding: 5px;
}

.temp {
  padding: 3px;
  background-color: darkslateblue;
  font-weight: bold;
}