$sidebar-bg: #009c7b;

.main-content .task-list-item {
  display: block;
}

.video {
  padding: 10px;
  border: 5px solid $red-100;
  border-radius: 10px;
  margin: 20px 0;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.icon {
  color: #ffffff;
}

.site-button:hover {
  background: #ffffff;

  .icon {
    color: #333;
  }
}

.side-bar {
  background-color: $sidebar-bg;
}

.nav-list .nav-list-item {

  .nav-list-link:hover, .nav-list-link.active {
    background: none;
    text-decoration: none;
  }

  .nav-list-link.active {
    background: #333;
  }

  .nav-list-link:hover {
    text-decoration: underline;
  }

  .nav-list-expander {
    color: #ffffff;
  }

  > .nav-list {
    .nav-list-item {

      .nav-list-expander {
        color: #ffffff;
      }

      .nav-list-link {
        color: #ffffff;
      }
    }
  }

  a, a:hover {
    color: #ffffff;
  }
}

.site-footer {
  color: #ffffff;

  a, a:hover {
    color: #ffffff;
  }
}
